---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import AboutMe from '../components/AboutMe.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Experience from '../components/Experience.astro';
import Testimonial from '../components/Testimonial.astro';
import ContactMe from '../components/ContactMe.astro';
---

<Layout title="Jhonny Urueña.- Desarrollador y Programador Web con +5 años de experiencia"
description="Contrata a Jhonny para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas.">
	<main class="sm:w-5/6 md:w-8/12 lg:max-w-screen-xl">
		<Hero />
		<AboutMe />
		<Skills />
		<Projects />
		<Experience />
		<Testimonial />
		<ContactMe />
	</main>
</Layout>
