---
import Layout from '../layouts/Layout.astro';
---

<Layout title="this is SSSSPAAAAAAAAAAAAAAAARTAAAAAAAAAAAAAAAA HPPPPPP!!" description='neh'>
        <div class="bg-orange-500 text-center m-auto text-2xl h-20 min-w-[660px] my-20">1</div>
        <div class="bg-blue-500 text-center m-auto text-2xl max-w-[1325px] h-20 my-40">2</div>
</Layout>

