---
import Layout from '../layouts/Layout.astro';
import ContactMe from '../components/ContactMe.astro';
import Container from '@/components/Container.astro';
---
<Layout
	title="Jhonny Urueña - Desarrollador y Programador Web con +5 años de experiencia"
	description="Contrata a Jhonny para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
	<Container class="bg-secondary pt-10 shadow-[inset_0px_10px_25px_0px_#272b36] relative top-1" >
       <div class="bg-slate-600 w-full flex flex-col">
        <div class="bg-orange-500 m-auto w-16 h-16 max-w-96 max-h9-6 min-w-16 min-h-16 relative" />
       </div>
	</Container>
	<ContactMe
		title="Jhonny Urueña.- Contact me"
		description="Talk to Jhonny for know him more"
	/>
</Layout>
