---
import Line from "./Line.astro";
---

<section>
  <article class="flex flex-col items-center justify-center text-gray-700 dark:text-gray-300 md:flex-row">
    <div class="text-base sm:text-lg lg:text-2xl [&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
        >
        <h1 class="text-white pb-5 font-sans font-semibold text-3xl sm:text-5xl sm:pb-7 lg:text-6xl lg:pb-10 lg:pl-32">About Me!</h1>
        <Line class="relative bg-skin m-left w-1/5 sm:w-10 lg:w-40 left-40" />
        <p class="text-wrap px-40 pr-1/5" >
          Hello there! 👋 I'm a passionate full-stack JavaScript developer with a keen focus on crafting seamless user experiences and driving innovation through technology. With a solid foundation in React, Next.js, and Astro,<span class="text-skin">I thrive in both developing new implementations and refining existing solutions to perfection.</span
          >
        </p>

        <p class="text-wrap px-40 pr-1/5" >
          Driven by a relentless pursuit of excellence, I'm always on the lookout for exciting opportunities to push the boundaries of what's possible in web development. Whether it's crafting intuitive user interfaces or architecting robust backend solutions, I'm committed to making a meaningful impact through code.<span class="text-skin">Let's build something remarkable together!</span
          >.
        </p>
      </div>  
  </article>
</section>