---
import Logo from './icons/Logo.astro';
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
    {
        title: "About Me",
        label: "about-me",
        url: "/#sabout-me",
    },
    {
        title: "Proyects",
        label: "proyects",
        url: "/#proyects",
    },
    {
        title: "Experience",
        label: "experience",
        url: "/#experience",
    },
    {
        title: "Contact",
        label: "contact",
        url: "mailto:jhonnyrra@gmail.com",
    },
]
---

<div class="containerNav top-0 h-15 z-50 flex justify-between sticky sm:rounded-full sm:top-1 sm:m-auto sm:w-11/12 lg:max-w-screen-xl">
        <!-- /* padding: 20px 0px 20px 0px; */ -->
    <a href="#top" role="link" title="Know me more!">
        <!-- <Image src={logo} alt="A bird sitting on a nest of eggs." width="40" height="40" /> -->
        <Logo class="relative w-14 h-14 left-5 sm:absolute sm:left-1/10 sm:top-2.5 lg:top-0 lg:w-20 lg:h-20 lg:left-10" />
    </a>
    <nav class="m-auto flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 relative top-2">
    {
        navItems.map((link) => (
            <div class="hidden sm:block sm:pb-5">
                <a
                    class="relative block px-2 py-4 text-base transition hover:text-yellow-500 dark:hover:text-skin lg:text-xl"
                    aria-label={link.label}
                    href={link.url}
                >
                    {link.title}
                </a>
            </div>
        ))
    }
    <ThemeToggle />
    </nav>
    <!-- <ThemeToggle /> Comming soon -->
    <div class="p-4 sm:hidden">
        <label for="check" class="block sm:hidden">
            <input type="checkbox" id="check"/> 
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>
</div>


<!-- TODO: cash the first div only and remplace for .containerNava, then change this class for tailwind elements! -->
<style>
    .containerNav {
        animation: enhance-header linear both;
        animation-timeline: scroll(root block);
        animation-range: 0 200px;
    }
    @keyframes enhance-header {
        to {
            background: rgb(240, 191, 108, .4);
            backdrop-filter: blur(5px);
        }
    }
    label {
        justify-self: end;
        display:flex;
        flex-direction:column;
        width:40px;
        height: 27px;
        cursor:pointer;
    }
    label span {
        background: #f0bf6c;
        border-radius:10px;
        height:3px;
        margin: 3px 0;
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
    span:nth-of-type(1) {
        width:50%;
    }
    span:nth-of-type(2) {
        width:100%;
    }
    span:nth-of-type(3) {
        width:75%;
    }
    input[type="checkbox"]{
        display:none;
    }
    input[type="checkbox"]:checked ~ span:nth-of-type(1) {
        transform-origin:bottom;
        transform:rotatez(45deg) translate(3px, 0px)
    }
    input[type="checkbox"]:checked ~ span:nth-of-type(2) {
        transform-origin:top;
        transform:rotatez(-45deg)
    }
    input[type="checkbox"]:checked ~ span:nth-of-type(3) {
        transform-origin:bottom;
        width:50%;
        transform: translate(16px, -2px) rotatez(45deg);
    }
</style>