---
import Button from './Button.astro';
import Card from './Card.astro';

const cards = [
    {   
        src: "/ScriptForze/YonkersGarage.png",
        title: "Frontend",
        sortDescription: "Me hago la paja",
    },
    {   
        src: "/Colegium/bannerColegium.png",
        title: "Senior Backend",
        sortDescription: "Me robaron, y ustuve resalado",
    },
    {   
        src: "/MrDomii/cardDomii.jpg",
        title: "Web FullStack",
        sortDescription: "Que man tan marica..",
    },
    {   
        src: "/SumaPos/SumaposBanner.JPG",
        title: "Web Developer",
        sortDescription: "Me falto demasiada experiencia",
    },
    {   
        src: "/Vlooping/new-message.jpg",
        title: "iOS Developer",
        sortDescription: "Y mi disque jefe no ayudaba ni mierda",
    },
    {   
        src: "/Realstaters/home1.jpg",
        title: "Web Designer",
        sortDescription: "JEjjejeejej es puro robo..",
    },
]
---

<section id="proyects" class="w-11/12 m-auto relative bottom-28 pt-20">
    <h1 class="text-white h- pb-5 text-center font-sans font-semibold text-3xl sm:pb-10 sm:text-5xl lg:text-6xl lg:pl-32">
        Portfolio
    </h1>
    <div class="grid gap-y-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        {
            cards.map(({ title, src, sortDescription}) => (
                <Card
                    title={title}
                    href={src}
                    classContainer="items-center group relative cursor-pointer overflow-hidden transition-all duration-300 hover:-translate-y-1 hover:shadow-2xl flex flex-col justify-center"
                    classImg="w-80 h-80 object-cover"
                    classTitle="absolute hidden text-3xl t-5 group-hover:block z-10 top-28 self-center"
                >
                    <span class="absolute top-96 z-0 h-0.5 w-0.5 rounded-full bg-secondary opacity-75 transition-all duration-500 group-hover:scale-[550]"></span>
                    <div class="absolute hidden z-10 min-w-60 max-w-60 top-32 self-center group-hover:block">
                        <div class="space-y-6 pt-5 pb-5 text-base transition-all duration-300 group-hover:text-white/90">
                            <p class="text-center">{sortDescription}</p>
                        </div>
                        <Button class="text-skin hover:text-white border-skin hover:bg-skin focus:ring-4 focus:outline-none focus:ring-skin font-medium rounded-lg px-2 me-2 mb-2 dark:border-skin dark:text-skin dark:hover:text-primary hover:font-semibold dark:hover:bg-skin dark:focus:ring-yellow-900 border-2 absolute left-16 sm:text-xl sm:border-4 lg:text-sm lg:border-6">See More ⇨</Button>
                    </div>
                </Card>
                
            ))      
        }
    </div>
    <div class="flex justify-center pt-14">
        <Button class="text-skin hover:text-white border-skin hover:bg-skin focus:ring-4 focus:outline-none focus:ring-skin font-medium rounded-lg px-2 py-2 me-2 mb-2 dark:border-skin dark:text-skin dark:hover:text-primary hover:font-semibold dark:hover:bg-skin dark:focus:ring-yellow-900 border-2 text-lg sm:text-xl sm:border-4 lg:text-3xl lg:border-6">View More</Button>
    </div>
</section>
