---
import { Image } from 'astro:assets';
import picture from '../../public/picture.png';
import Bubble from '@/components/Bubble.astro';
import Line from './Line.astro';
---

<Bubble class="3"/>
<section class="flex justify-between pb-40">
    <h1 class="text-xl mb-3 p-3 text-center relative bottom-20 sm:text-2xl sm:text-left lg:text-4xl">
        <span class="text-white font-sans font-semibold text-4xl sm:text-6xl lg:text-7xl">Testimonial</span>
    </h1>
    <article class="relative grid grid-row-3 gap-4 top-20 right-40">  
        <Line class="right-24 bg-white rotate-90 w-52 row-span-4 col-start-2 row-start-2 relative -top-52" />
        <Image src={picture} alt="A picture to Jhonny Urueña." width="340" height="340" />          
    </article>
</section>
