---
// import SpeedInsights from '@vercel/speed-insights/astro';
import Container from '../components/Container.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!-- <SpeedInsights /> -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:image" content="https://jhonnyuruena.vercel.app/Pictures/landingAll.avif">

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://jhonnyuruena.vercel.app">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Jhonny Urueña - Web Developer and Programmer with +5 years of experience">
		<meta property="og:description" content="Hire Jhonny to create your web or mobile application. Web Developer and Content Creator. Specialized in creating unique applications.">
		<meta property="og:image" content="https://jhonnyuruena.vercel.app/Pictures/landingAll.avif">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="jhonnyuruena.vercel.app">
		<meta property="twitter:url" content="https://jhonnyuruena.vercel.app">
		<meta name="twitter:title" content="Jhonny Urueña - Web Developer and Programmer with +5 years of experience">
		<meta name="twitter:description" content="Hire Jhonny to create your web or mobile application. Web Developer and Content Creator. Specialized in creating unique applications.">
		<meta name="twitter:image" content="https://jhonnyuruena.vercel.app/Pictures/landingAll.avif">

		<link rel="icon" type="image/svg+xml" href="/Files/lo.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.cdnfonts.com/css/winternight" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/diediedie" rel="stylesheet">
		<!-- 
			But! this link is only for letter turn down I means with this I did my name for first one!! 
			font-family: 'Diediedie', sans-serif;
		-->
		<link href="https://fonts.cdnfonts.com/css/cartoon-blocks-christmas-sc?styles=22170,22171" rel="stylesheet">
		<!-- 
			But! this link is only for christmas!! 
			font-family: 'WinterNight DB', sans-serif;
		-->
		<link href="https://fonts.cdnfonts.com/css/magnificent-nightmare" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/pumpkins-nightmare" rel="stylesheet">
		<!-- 
			But! this link is only for hellowen!! 
			font-family: 'Magnificent Nightmare', sans-serif;
			font-family: 'Pumpkins Nightmare', sans-serif;
		-->
		<link href="https://fonts.cdnfonts.com/css/kbthelittlefella" rel="stylesheet">
		<!-- 
			This is //What am I up to? 
			font-family: 'KBTheLittleFella', sans-serif;                                        
		-->          
		<link href="https://fonts.cdnfonts.com/css/bobloxclassic" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/krona-one" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/quark-2" rel="stylesheet">
		<!-- 
			This is //Logo? 
			font-family: 'Quark', sans-serif;
        	font-family: 'Quark Outline', sans-serif;
		-->
		<link href="https://fonts.cdnfonts.com/css/montereymediumflf" rel="stylesheet">
		<!-- It´s so beatiful
			font-family: 'MontereyMediumFLF', sans-serif; 
		-->
        <link href="https://fonts.cdnfonts.com/css/nrt-reg" rel="stylesheet">    
		<!-- gg the best
			font-family: 'NRT Reg', sans-serif;                                    ; 
		-->
                                                
                
		<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js" />

		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
                
		<!-----------------------------
				`    ``               `
				``  _ `      `       ``
				`   |_| `  `` ``    `  `
				``  -___-_` `   ` --------------
			``   /      )      | This is fine |`
			`____/| (0) (0)_()  |/-------------  `
			/|   | |   ^____)      ``      ``
			||   |_|    \_//     Uɔ````   `` ``
			||    || |    |    ========`  ``  ``
			||    || |    |      ||     ``   `
			||     \\_\   |\     ||   ```    `
			=========||====||    ||  ``       `
			|| ||   \Ɔ || \Ɔ   ||   ``    ``
			|| ||      ||      ||  `     ``


					TO DO
				* Select text change color
				* Change language and background
		--------------------------------->
		<title>{title}</title>
	</head>
	<body class="selection:bg-skin selection:text-primary mx-auto w-[100vw] sm:max-w-[630px] md:max-w-[760px] bg-primary text-black dark:text-white lg:mx-auto lg:max-w-screen-lg">
		<Header /> 
		<Container>
			<slot>MeansWhile charge...</slot>
		</Container>
		<Footer />
		<!-- <SpeedInsights/> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js" />
	</body>
</html>

<style is:global>
	body{
		font-family: 'NRT Reg', sans-serif;                                         
	}
</style>
